{% extends '::base_ente.html.twig' %}

{% block body %}	
	
	<h4>Nota:</h4>

	<div class="text-center">
		<textarea readonly="readonly" cols='80' rows="8">{{richiesta_chiarimento.risposta.testo}}</textarea>
	</div>
	
	<br>
	
	<h4>Documento di risposta</h4>
	{{ mostra_file(richiesta_chiarimento.risposta.documentorispostafirmato, null )}}
	
	<br>
	
	<h4>Elenco documenti</h4>
		
    <table class="table table-striped table-hover table-bordered" id="richieste-elenco">
        <thead>
            <tr>
                <th>Tipologia</th>
				<th>Documento</th>
				<th>Nota</th>
				<th>Stato istruttoria</th>
                                {% if not is_granted("ROLE_OPERATORE_COGEA") %}
                                    <th>Azioni</th>
                                {% endif %}
            </tr>
        </thead>	
        <tbody>
			{% for documento in richiesta_chiarimento.risposta.documenti %}
				<tr>
                    <td>{{ documento.documentoFile.tipologiaDocumento.descrizione }}</td>
					<td>{{ scarica_file(documento.documentoFile) }}</td>
					<td>{{ documento.descrizione }}</td>
					<td>
						{% set istruttoria = documento.istruttoriaoggettopagamento %}
						{% if istruttoria is null %}	
							<span class="text-danger">Da istruire</span>
						{% elseif istruttoria.statoValutazione == 'Completa' %}
							<span class="text-success">{{istruttoria.statoValutazione}}</span>
						{% elseif istruttoria.statoValutazione == 'Incompleta' %}
							<span class="text-warning">{{istruttoria.statoValutazione}}</span>
						{% elseif istruttoria.statoValutazione == 'Integrazione' %}
							<span class="text-info">{{istruttoria.statoValutazione}}</span>
						{% endif %}							
					</td>
                                        {% if not is_granted("ROLE_OPERATORE_COGEA") %}
					<td>
						<a class="btn btn-sm btn-danger" title="Istruttoria Documento" href="{{ path('istruttoria_documento_rich_chiar', {'id_richiesta_chiarimenti': richiesta_chiarimento.id, 'id_documento_rich_chiar': documento.id}) }}">Istruttoria</a>
					</td>
                                        {% endif %}
				</tr>
			{% endfor %}
        </tbody>
    </table>	
        {% if not is_granted("ROLE_OPERATORE_COGEA") %}
            <h4>Istruttoria</h4>
            {{ form_start(form_istruttoria) }}
            {{ form_end(form_istruttoria) }}
        {% endif %}
	
	
{% endblock %}