{% extends '::base.html.twig' %}

{% block body %}
	
<br>		
<h4>Riepilogo richiesta di pagamento</h4>
	<table class="table table-striped table-hover">
		<tr>
			<td style="width: 50%;">Bando</td>
			<td><strong>{{ pagamento.richiesta.procedura.titolo}}</strong></td>
		</tr>
		<tr>
			<td style="width: 50%;">Cup progetto</td>
			<td><strong>{{ pagamento.richiesta.istruttoria.codicecup is null ? "-" : pagamento.richiesta.istruttoria.codicecup }}</strong></td>
		</tr>
		<tr>
			<td style="width: 50%;">Modalità richiesta di pagamento</td>
			<td><strong>{{ pagamento.modalitaPagamento }}</strong></td>
		</tr>
		<tr>
			<td style="width: 50%;">Importo richiesto</td>
			<td><strong>&euro; {{ pagamento.importoRichiesto|number_format(2, ',', '.') }}</strong></td>
		</tr>	
		<tr>
			<td style="width: 50%;">Data invio richiesta</td>
			<td><strong>{{ pagamento.dataInvio is null ? "-" : pagamento.dataInvio | date('d/m/Y') }}</strong></td>
		</tr>	

		<tr>
			<td style="width: 50%;">Titolo Progetto</td>
			<td><strong>{{ pagamento.richiesta.titolo }}</strong></td>
		</tr>
	</table>

	<br><br>
	
	{% if pagamento.id != pagamento_anticipo.id %}
		<h4>Anticipo</h4>
		<table class="table table-striped table-hover">
			<tr>
				<td style="width: 50%;">Importo</td>
				<td><strong>&euro; {{ pagamento_anticipo.importoRichiesto|number_format(2, ',', '.') }}</strong></td>
			</tr>	
			<tr>
				<td style="width: 50%;">Data anticipo</td>
				<td><strong>{{ pagamento_anticipo.dataInvio is null ? "-" : pagamento_anticipo.dataInvio | date('d/m/Y') }}</strong></td>
			</tr>	

		</table>

		<br><br>

		<table class="table table-striped table-hover table-bordered" id="anticipi-elenco">
			<thead>
				<tr>
					<th>Proponente</th>
					<th>Data Atto</th>
					<th>Numero Atto</th>
					<th>Importo</th>
					<th>Azioni</th>
				</tr>
			</thead>
			<tbody>
				{% for anticipo in anticipi %}
					{% set richiesta = pagamento.attuazioneControlloRichiesta.richiesta %}
					<tr>
						<td>{{ anticipo.proponente.denominazioneAcronimo }}</td>
						<td>{{ anticipo.dataAtto | date("d/m/Y") }}</td>
						<td>{{ anticipo.numeroAtto}}</td>
						<td>{{ anticipo.importoAnticipo is null ? "-" : "€ " ~ anticipo.importoAnticipo|number_format(2, ',', '.') }}</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Azioni
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="{{ path("gestisci_anticipo_pagamento",{'id_pagamento':pagamento.id, 'id_anticipo':anticipo.id}) }}">Gestisci</a></li>		
								</ul>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br><br>

		<a class="btn btn-info" href="{{path('crea_anticipo_pagamento', {'id_pagamento': pagamento.id})}}">Crea anticipo</a>

		<br><br>
	{% endif %}

{% endblock %}