<div class="row">
    <div class="col-md-4 wrap-text">
        {% if firmato %}
            {{ nomeFirmato }}
        {% else %}
            {{ nome }}
        {% endif %}
    </div>
    <div class="col-md-2">
        {{ documento.tipologiaDocumento.descrizione }}
    </div>
	<div class="col-md-2">
        {{ persona }}
    </div>
	<div class="col-md-1">
        {{ datacreazione|date('d-m-Y') }}
    </div>
    <div class="col-md-2 pull-right">
        {% if firmato %}
            <div class="pull-right">
                <a class="btn btn-sm btn-primary" title="Scarica documento firmato" href="{{ path("scarica", {"path_codificato":path}) }}" target="_blank">Scarica <small class="italic">(p7m)</small></a>
                <a class="btn btn-sm btn-info" title="Scarica documento" href="{{ path("scarica_originale", {"path_codificato":path}) }}" target="_blank">Scarica Originale</a>
                {% if pathElimina is not null %}
                    <a class="btn btn-sm btn-danger" title="Elimina Documento" href="{{ pathElimina }}" data-confirm="Eliminare il documento selezionato?">Elimina</a>
                {% endif %}
            </div>
        {% else %}
            {% if pathElimina is not null %}
                <div class="pull-right">
                    <a class="btn btn-sm btn-primary" href="{{ path("scarica", {"path_codificato":path}) }}" target="_blank">Scarica</a>
                    <a class="btn btn-sm btn-danger" title="Elimina Documento" href="{{ pathElimina }}" data-confirm="Eliminare il documento selezionato?">Elimina</a>
                </div>
            {% else %}
				<div class="pull-right">
					<a class="btn btn-sm btn-primary" href="{{ path("scarica", {"path_codificato":path}) }}" target="_blank">Scarica</a>
				</div>
            {% endif %}
        {% endif %}
    </div>
</div>