{% extends '::base.html.twig' %}

{% block body %}
	{% include 'AuditBundle:Audit:menu.html.twig' %}
	<br/>
	<h4>Audit del periodo {{audit.periodocontabile}} tipo {{audit.tipo.descrizione}}</h4>
	<table class="table table-striped table-hover table-bordered" id="organismi-elenco">
		<thead>
			<tr>
				<td style="width: 10%">Id</td>
				<td style="width: 40%">Nome</td>
				<td style="width: 40%">Tipo campione</td>
				<td style="width: 10%"></td>
			</tr>
		</thead>
		<tbody>
			{% if campioni_operazioni|length > 0%}
				{% for campione in campioni_operazioni %}
					<tr>
						<td>{{campione.id}}</td>
						<td>{{campione.nome}}</td>
						<td>{{campione.tipocampione.descrizione}}</td>
						<td>
							<a class="btn btn-primary btn-sm" href="{{ path("visualizza_audit_operazione_attuazione", {'id_audit': audit.id, 'id_audit_operazione': campione.id}) }}" role="button">
								Entra <span class="fa"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>			
{% endblock %}