{% extends '::base.html.twig' %}

{% block body %}
    {% form_theme form.elementi _self %}
    
    {{ form_errors(form) }}
    {{ form_start(form) }}
         <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width: 5%">ID</th>
                    <th style="width: 45%">Voce controllo specifica</th>
                    <th style="width: 50%">Procedure</th>
                </tr>
            </thead>
            <tbody>
                {% for elemento in form.elementi %}
                    {{ form_widget(elemento) }}
                {% endfor %}
            </tbody>
        </table>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock body %}



{% block form_row -%}

    {{- not form.vars.compound ? '<td>' : '' -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
    {{- not form.vars.compound ? '</td>' : '' -}}

{%- endblock form_row %}

{% block form_widget_compound %}
    {% if form.vars.prototype is not defined %}
        {% if form.vars.value.elemento is defined %}
        <tr {{ block('widget_container_attributes') }}>
            <td>
                {{ form.vars.value.elemento.id }}
            </td>
            <td>
                {{ form.vars.value.elemento.descrizione }}
            </td>
            {{- block('form_rows') -}}
        </tr>
        {% endif %}
    {% endif %}
{% endblock %}