{% extends '::base_ente.html.twig' %}

{% block body %}

    <p class="lead">Inserire il fornitore</p>


    {{ form_start(form) }}

        <h4>Fornitore</h4>
        
        {{ form_row(form.tipologia_fornitore) }}
        {{ form_row(form.denominazione) }}
		{{ form_row(form.codice_fiscale) }}

        <div>
		<h4>
			Indirizzo
		</h4>
		<br/>

		{{ form_row(form.indirizzo.via) }}
		{{ form_row(form.indirizzo.numero_civico) }}
		{{ form_row(form.indirizzo.stato) }}
		{{ form_row(form.indirizzo.provincia, {'_id': 'luogo_residenza_provincia_row'}) }}
		{{ form_row(form.indirizzo.comune, {'_id': 'luogo_residenza_comune_row'}) }}

		{{ form_row(form.indirizzo.provinciaEstera, {'_id': 'luogo_residenza_provincia_estera_row'}) }}
		{{ form_row(form.indirizzo.comuneEstero, {'_id': 'luogo_residenza_comune_estero_row'}) }}

		{{ form_row(form.indirizzo.cap) }}
		{{ form_row(form.indirizzo.localita) }}
	</div>
	
    {{ form_end(form) }}
	
{% endblock %}

{% block  jquery_page_document_ready %}
	{% set vars = {'indirizzo': 'sede_indirizzo', 'form' : form.indirizzo } %}
	{% include "BaseBundle:Base:province_comuni_js.html.twig" with vars %}
{% endblock %}