{% extends '::base.html.twig' %}

{% block intestazione %}
	{{ parent() }}
	{{ mostra_soggetto_rappresentato() }}
{% endblock %}

{% block body %}
	
	{% block avvisi %}
	{% endblock %}
	
	{{ mostra_validazione('documenti_richiesta') }}

	{% if form is not null %}
		<div class="form-body">
			<h4>Carica documento</h4>
				{{ form(form) }}
	    </div>
	{% endif %}			

	<h4>Elenco documenti caricati</h4>
	{% if documenti is not empty %}
    <div class="form-body">	
		{% for documento in documenti %}
			{% if not is_richiesta_disabilitata and is_granted('ROLE_UTENTE')%}
            	{{ mostra_file(documento.documentoFile, path('elimina_documento_richiesta', {'id_documento_richiesta': documento.id,'id_richiesta': id_richiesta, '_token': csrfToken, mostra_elimina: true}) ) }}
			{% else %}			
            	{{ mostra_file(documento.documentoFile, null )}}
			{% endif %}			
            <br/>
		{% endfor %}
    </div>
	{% else %}
		<h6>Nessun documento caricato</h6>
	{% endif %}
	<div class="page-actions">
		{{ pulsante_indietro(path("dettaglio_richiesta",{"id_richiesta":id_richiesta})) }}
	</div>
{% endblock %}
