{% extends '::base.html.twig' %}

{% block body %}
	{% if procedura.modificabile %}
		<a href="{{ path('aggiungi_sezione_piano_costo', {'id_procedura' : procedura.id }) }}" class="btn btn-primary"><span class="fa fa-plus"></span> Aggiungi sezione</a>
		<a href="{{ path('aggiungi_piano_costo', {'id_procedura' : procedura.id }) }}" class="btn btn-primary"><span class="fa fa-plus"></span> Aggiungi piano</a>
	{% endif %}
	{% for sezione_piano_costo in procedura.sezioniPianiCosto %}
		<h4>{{ sezione_piano_costo }}
			{% if procedura.modificabile %}
				<a href="{{ path('elimina_sezione_piano_costo', {'id_procedura' : procedura.id, 'id_sezione_piano_costo' : sezione_piano_costo.id }) }}" class="btn btn-danger btn-xs pull-right"> Elimina</a>
				<span class="pull-right">&nbsp;</span>
				<a href="{{ path('modifica_sezione_piano_costo', {'id_procedura' : procedura.id, 'id_sezione_piano_costo' : sezione_piano_costo.id }) }}" class="btn btn-default btn-xs pull-right"> Modifica</a>
			{% endif %}				
		</h4>
		{% if sezione_piano_costo.pianiCosto|length  %}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="width: 10%">#</th>
					<th style="width: 10%">Codice</th>
					<th style="width: 32%">Titolo</th>
					<th style="width: 35%">Tipo</th>
					<th style="width: 13%">Azioni</th>
				</tr>
			</thead>
			<tbody>
			{% for piano_costo in sezione_piano_costo.pianiCosto %}	
				<tr>
					<td>{{ piano_costo.ordinamento }}</a></td>
					<td>{{ piano_costo.codice }}</td>
					<td>{{ piano_costo.titolo }}</td>
					<td>{{ piano_costo.tipoVoceSpesa.descrizione }}</td>
					<td><div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Azioni
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							{% if isAccessibile('modifica_piano_costo', { 'id_piano_costo': piano_costo.id, 'id_procedura' : piano_costo.procedura.id }) and procedura.modificabile %}
								<li><a href="{{ path('modifica_piano_costo', { 'id_piano_costo': piano_costo.id, 'id_procedura' : piano_costo.procedura.id }) }}">Modifica</a></li>
							{% endif %}
							{% if isAccessibile('elimina_piano_costo', { 'id_piano_costo': piano_costo.id }) and procedura.modificabile %}
								<li><a href="{{ path('elimina_piano_costo', {'id_piano_costo':piano_costo.id}) }}">Elimina</a></li>
							{% endif %}
						</ul>
					</div></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	{% endfor %}
{% endblock %}

