{% extends '::base_ente.html.twig' %}

{% block body %}
    <h6>Riepilogo operazione</h6>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td style="width: 20%">Numero operazione</td><td>{{ richiesta.id }}</td>
                </tr>
                <tr>
                    <td>Numero protocollo</td><td>{{ richiesta.protocollo }}</td>
                </tr>
                <tr>
                    <td>Titolo operazione</td><td>{{ richiesta.titolo is not null ? richiesta.titolo : "-" }}</td>
                </tr>	
                <tr>
                    <td>Data inizio progetto</td><td>{{ dateProgetto.dataAvvioProgetto | date('d/m/Y')}}</td>
                </tr>
                <tr>
                    <td>Data fine progetto</td><td>{{ dateProgetto.dataTermineProgetto | date('d/m/Y')}}</td>
                </tr>	
                <tr>
                    <td>importo investimento ammesso</td><td>{{ atc.costoammesso | number_format(2,',', '.')}}</td>
                </tr>
                <tr>
                    <td>Importo investimento concesso</td><td>{{ atc.contributoconcesso | number_format(2,',', '.')}}</td>
                </tr>	
            </table>
        </div>
    </div>

    <h6>Atto di ammissibilità</h6>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td style="width: 20%">Numero</td><td>{{ richiesta.istruttoria.attoAmmissibilitaAtc.numero }}</td>
                </tr>
                <tr>
                    <td>Titolo</td><td>{{ richiesta.istruttoria.attoAmmissibilitaAtc.titolo }}</td>
                </tr>
                <tr>
                    <td>Data pubblicazione</td><td>{{ richiesta.istruttoria.attoAmmissibilitaAtc.dataPubblicazione | date('d/m/Y') }}</td>
                </tr>				
                <tr>
                    <td>Documento</td><td>{{ scarica_file(richiesta.istruttoria.attoAmmissibilitaAtc.documentoAtto) }}</td>
                </tr>				
            </table>
        </div>
    </div>

    <h6>Atto di concessione</h6>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td style="width: 20%">Numero</td><td>{{ richiesta.istruttoria.attoConcessioneAtc.numero }}</td>
                </tr>
                <tr>
                    <td>Titolo</td><td>{{ richiesta.istruttoria.attoConcessioneAtc.titolo }}</td>
                </tr>
                <tr>
                    <td>Data pubblicazione</td><td>{{ richiesta.istruttoria.attoConcessioneAtc.dataPubblicazione | date('d/m/Y') }}</td>
                </tr>				
                <tr>
                    <td>Documento</td><td>{{ scarica_file(richiesta.istruttoria.attoConcessioneAtc.documentoAtto) }}</td>
                </tr>				
            </table>
        </div>
    </div>

    <h6>Dati bancari</h6>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td style="width: 20%">Intestatario</td><td>{{ datiBancariProponenti.intestatario }}</td>
                </tr>
                <tr>
                    <td>Banca</td><td>{{ datiBancariProponenti.banca }}</td>
                </tr>
                <tr>
                    <td>Agenzia</td><td>{{ datiBancariProponenti.agenzia }}</td>
                </tr>
                <tr>
                    <td>IBAN</td><td>{{ datiBancariProponenti.iban is not null ? datiBancariProponenti.iban : '-' }}</td>
                </tr>				
                <tr>
                    <td>Conto tesoreria</td><td>{{ datiBancariProponenti.contotesoreria is not null ? datiBancariProponenti.contotesoreria : '-'}}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>


{% endblock %}
