{% extends '::base.html.twig' %}

{% block body %}
{% include 'AttuazioneControlloBundle:RelazioneTecnica:menu.html.twig' with {'pagamento' : pagamento } %}

    <p class="lead">Cercare una persona già presente a sistema</p>
	<h4>Ricerca Persona</h4>
    <div>
        {{ form_start(form) }}

        {{ form_row(form.nome) }}
        {{ form_row(form.cognome) }}
        {{ form_row(form.codice_fiscale) }}
        {{ form_row(form.submit) }}

        {{ form_end(form) }}
    </div>
    <h4>Persone trovate</h4>
	<br><br>
    <table class="table table-striped table-hover table-bordered">
        <thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Codice fiscale</th>
				<th>Azioni</th>
			</tr>
        </thead>
        <tbody>
			{% for persona in persone %}
				<tr>
					<td>{{ persona.id }}</td>
					<td>{{ persona.nome }}</td>
					<td>{{ persona.cognome }}</td>
					<td>{{ persona.codicefiscale }}</td>
					<td>
						<a class="btn btn-info btn-sm" href="{{ path("inserisci_referente_relazione", {'id_pagamento': pagamento.id, 'id_persona':persona.id}) }}" role="button">
							Seleziona <span class="fa fa-arrow-right"></span>
						</a>
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(persone) }}
    </div>

    <div class="page-actions">
		{{ pulsante_indietro(path("dettaglio_pagamento",{"id_pagamento":pagamento.id})) }}
    </div>

{% endblock %}