{% extends '::base.html.twig' %}
{% block body %}

    {{ form_start(form) }}

    <h4>Dati azienda</h4>
    {{ form_row(form.denominazione) }}
    {{ form_row(form.codice_fiscale) }}
    {{ form_row(form.partita_iva) }}
    {{ form_row(form.senza_piva) }}
    {{ form_row(form.data_costituzione) }}
    {#{ form_row(form.fatturato) }#}
    {#{ form_row(form.bilancio) }#}
    {#{ form_row(form.sito_web) }#}
    {{ form_row(form.dimensione_impresa) }}
    {#{ form_row(form.dimensione) }#}
    {{ form_row(form.forma_giuridica) }}
    {{ form_row(form.codice_ateco) }}
    {{ form_row(form.codice_ateco_secondario) }}

    {#<h4>Dati INPS e INAIL</h4>
    {{ form_row(form.iscritta_inps) }}
    {{ form_row(form.matricola_inps) }}
    {{ form_row(form.impresa_iscritta_inps) }}
    {{ form_row(form.motivazioni_non_iscrizione_inps) }}
    {{ form_row(form.impresa_iscritta_inail) }}
    {{ form_row(form.impresa_iscritta_inail_di) }}
    {{ form_row(form.numero_codice_ditta_impresa_assicurata) }}
    {{ form_row(form.motivazioni_non_iscrizione_inail) }}
    {{ form_row(form.ccnl) }#}

    <h4>Dati Registri</h4>
    {{ form_row(form.ccia) }}
    {{ form_row(form.data_ccia) }}
    {{ form_row(form.rea) }}
    {{ form_row(form.data_rea) }}
    {{ form_row(form.registro_equivalente) }}

    <h4>Dati sede Legale</h4>
    {{ form_row(form.via) }}
    {{ form_row(form.civico) }}
    {{ form_row(form.stato) }}
    {{ form_row(form.provincia) }}        
    {{ form_row(form.comune) }}
    {{ form_row(form.provinciaEstera) }}
    {{ form_row(form.comuneEstero) }}
    {{ form_row(form.cap) }}
    {{ form_row(form.localita) }}
    {{ form_row(form.tel) }}
    {{ form_row(form.fax) }}
    {{ form_row(form.email) }}
    {{ form_row(form.email_pec) }}

    {% do form.laboratorio_ricerca.setRendered %}

    {{ form_end(form) }}

{% endblock %}
{%block  jquery_page_document_ready %}
    <script>
        jQuery(document).ready(function () {
            $("#azienda_senza_piva").change(nascondiSezioni);

            function nascondiSezioni() {
                if ($("#azienda_senza_piva").is(':checked')) {
                    $("#azienda_partita_iva").attr("readonly",true);
                } else {
                    $("#azienda_partita_iva").attr("readonly",false);
                }
            }

            nascondiSezioni();

        });
    </script>
    {% set vars = {'indirizzo': 'azienda', 'form' : form }%}
    {% include "BaseBundle:Base:province_comuni_js.html.twig" with vars %}
{% endblock %}