{% extends '::base.html.twig' %}

{% block body %}
    <div class="table-toolbar">
        <div>
			{% if isAccessibile('crea_soggetto') %}
                <a class="btn btn-primary" href="{{ path('crea_soggetto') }}">
                    <span class="fa fa-plus"></span> Aggiungi soggetto
                </a>
			{% endif %}
                <a class="btn btn-info" href="#ricerca-soggetto-modal" data-toggle="modal">
                    <span class="fa fa-search"></span> Ricerca
                </a>
        </div>
    </div>
    <div class="count">
        Numero elementi trovati: {{ soggetti.getTotalItemCount }} - Filtro attivo: {{ filtro_attivo ? "Si" : "No" }}
    </div>
    <table class="table table-striped table-hover table-bordered" id="notizie-elenco">
        <thead>
            <tr>
                <th class="text-center">{{ knp_pagination_sortable(soggetti, 'Id', 's.id') }}</th>
                {% if app.user is not null and is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Creato da</th>
                    <th>Data creazione</th>
                {% endif %}
                <th>Ragione sociale</th>
                <th>Partita iva</th>
                <th>Codice fiscale</th>
				<th>Azioni</th>
            </tr>
        </thead>
        <tbody>
			{% for soggetto in soggetti %}
				<tr>
                    <td class="table-id">
                        {% if isAccessibile('soggetto_visualizza', { 'id_soggetto': soggetto.id }) %}
                            <a href="{{ path('soggetto_visualizza', { 'id_soggetto': soggetto.id }) }}">{{ soggetto.id }}</a>
                        {% else %}
                            {{ soggetto.id }}
                        {% endif %}
                    </td>
                    {% if app.user is not null and is_granted('ROLE_SUPER_ADMIN') %}
                        <td>{{ soggetto.creatoda }}</td>
                        <td>{{ soggetto.datacreazione | date("d/m/Y") }}</td>
                    {% endif %}
                    <td>{{ soggetto.denominazione }}</td>
					<td>{{ soggetto.partitaiva }}</td>
					<td class="uppercase">{{ soggetto.codicefiscale }}</td>
					<td><div class="dropdown">
							<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Azioni
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% if isAccessibile('soggetto_visualizza', { 'id_soggetto': soggetto.id }) %}
								    <li><a href="{{ path('soggetto_visualizza', {'id_soggetto':soggetto.id}) }}">Visualizza</a></li>
                                {% endif %}
								{% if isAccessibile('soggetto_modifica', { 'id_soggetto': soggetto.id }) %}
									<li><a href="{{ path('soggetto_modifica', {'id_soggetto':soggetto.id}) }}">Modifica</a></li>
								{% endif %}	
								<li><a href="{{ path('elenco_sedi_operative_soggetto', {'id_soggetto':soggetto.id}) }}">Elenco sedi</a></li>								
							</ul>
						</div>
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(soggetti) }}
    </div>

    {{ modale_ricerca("Soggetti",form_ricerca_soggetti,"elenco_soggetti_pulisci","ricerca-soggetto-modal") }}

{% endblock %}

