{% extends '::base.html.twig' %}
{% block body %}

    {{ form_errors(form) }}
    {{ form_start(form) }}
    <h3>Azienda</h3>
    <h4>Dati azienda</h4>
    {{ form_row(form.soggetto.denominazione) }}
    {{ form_row(form.soggetto.laboratorio_ricerca) }}
    {{ form_row(form.soggetto.codice_fiscale) }}
    {{ form_row(form.soggetto.partita_iva) }}
    {% do form.soggetto.senza_piva.setRendered %}
    {{ form_row(form.soggetto.data_costituzione) }}

    {{ form_row(form.soggetto.dimensione_impresa) }}
    {{ form_row(form.soggetto.forma_giuridica) }}
    {{ form_row(form.soggetto.codice_ateco) }}
    {{ form_row(form.soggetto.codice_ateco_secondario) }}

    <h4>Dati sede Legale</h4>
    {{ form_row(form.soggetto.via) }}
    {{ form_row(form.soggetto.civico) }}
    {{ form_row(form.soggetto.stato) }}
    {{ form_row(form.soggetto.provincia) }}
    {{ form_row(form.soggetto.comune) }}
    {{ form_row(form.soggetto.provinciaEstera) }}
    {{ form_row(form.soggetto.comuneEstero) }}
    {{ form_row(form.soggetto.cap) }}
    {{ form_row(form.soggetto.localita) }}
    {{ form_row(form.soggetto.tel) }}
    {{ form_row(form.soggetto.fax) }}
    {{ form_row(form.soggetto.email) }}
    {{ form_row(form.soggetto.email_pec) }}

    {% do form.soggetto.laboratorio_ricerca.setRendered %}

    <h3>Legale rappresentante</h3>


    <h4>Dati personali</h4>

    {{ form_row(form.legaleRappresentante.nome) }}
    {{ form_row(form.legaleRappresentante.cognome) }}
    {{ form_row(form.legaleRappresentante.sesso) }}
    {{ form_row(form.legaleRappresentante.nazionalita) }}
    {{ form_row(form.legaleRappresentante.data_nascita) }}
    {% set persona = form.legaleRappresentante.vars.value %}
    {% if not(persona.comune and persona.comune.cedutoLegge1989) %}
        {{ form_row(form.legaleRappresentante.stato_nascita) }}
    {% endif %}
    {# if (persona.comune and not persona.comune.cedutoLegge1989) #}
    {{ form_row(form.legaleRappresentante.provincia) }}
    {# endif #}
    {{ form_row(form.legaleRappresentante.comune) }}
    {{ form_row(form.legaleRappresentante.codice_fiscale) }}


    <h4>Indirizzo residenza</h4>

    {{ form_row(form.legaleRappresentante.luogo_residenza.via) }}
    {{ form_row(form.legaleRappresentante.luogo_residenza.numero_civico) }}
    {{ form_row(form.legaleRappresentante.luogo_residenza.stato) }}
    {{ form_row(form.legaleRappresentante.luogo_residenza.provincia, {'_id': 'luogo_residenza_provincia_row'}) }}
    {{ form_row(form.legaleRappresentante.luogo_residenza.comune, {'_id': 'luogo_residenza_comune_row'}) }}

    {{ form_row(form.legaleRappresentante.luogo_residenza.provinciaEstera, {'_id': 'luogo_residenza_provincia_estera_row'}) }}
    {{ form_row(form.legaleRappresentante.luogo_residenza.comuneEstero, {'_id': 'luogo_residenza_comune_estero_row'}) }}

    {{ form_row(form.legaleRappresentante.luogo_residenza.cap) }}
    {{ form_row(form.legaleRappresentante.luogo_residenza.localita) }}


    <h4>Recapito principale</h4>

    {{ form_row(form.legaleRappresentante.telefono_principale) }}
    {{ form_row(form.legaleRappresentante.fax_principale) }}
    {{ form_row(form.legaleRappresentante.email_principale) }}


    <h4>Recapito alternativo</h4>

    {{ form_row(form.legaleRappresentante.telefono_secondario) }}
    {{ form_row(form.legaleRappresentante.fax_secondario) }}
    {{ form_row(form.legaleRappresentante.email_secondario) }}


    {{ form_end(form) }}

{% endblock %}

{% block  jquery_page_document_ready %}
    {% include "BaseBundle:Base:province_comuni_js.html.twig" with {
        indirizzo: 'soggetto',
        form : form.soggetto
    } %}

    {% include "BaseBundle:Base:province_comuni_js.html.twig" with {
        indirizzo: 'persona_luogo_residenza',
        form : form.legaleRappresentante.luogo_residenza
    } %}

    {% include "BaseBundle:Base:persona_province_comuni_js.html.twig" with {
        indirizzo: '',
        form : form.legaleRappresentante,
        stato_name : 'stato_nascita'
    } %}
{% endblock %}