{% extends '::base.html.twig' %}

{% block intestazione %}
    {{ parent() }}
    {{ mostra_soggetto_rappresentato() }}
{% endblock %}

{% block body %}
    <table class="table table-striped table-hover table-bordered" id="richieste-elenco">
        <thead>
            {# Lato Beneficiario #}
            <tr>
                <th>Id</th>
                <th>Titolo procedura</th>
                <th>Titolo progetto</th>
                <th>Protocollo progetto</th>
                <th>Protocollo richiesta di pagamento</th>
                <th>Tipologia comunicazione</th>
                <th>Protocollo comunicazione PA</th>
                <th>Data consegna PEC comunicazione</th>
                <th>Protocollo risposta comunicazione</th>
                <th>Data invio risposta alla PA</th>
                <th>Stato comunicazione</th>
                <th>Azioni</th>
            </tr>

        </thead>
        <tbody>
            {% for comunicazione in comunicazioni %}
                {% set richiesta = comunicazione.pagamento.richiesta %}
                {% set pagamento = comunicazione.pagamento %}
                <tr>
                    <td>{{ comunicazione.id }}</td>
                    <td>{{ richiesta.procedura.titolo }}</td>
                    <td>{{ richiesta.titolo is null ? "-" : richiesta.titolo }}</td>
                    <td>{{ richiesta.protocollo }}</td>
                    <td>{{ pagamento.protocollo }}</td>
                    <td>{{ comunicazione.tipologiaComunicazione.descrizione }}</td>
                    <td>{{ comunicazione.protocolloComunicazione }}</td>

                    {% set data_consegna_pec = '-' %}
                    {% set richieste_protocollo = comunicazione.richiesteProtocollo %}
                    {% if  richieste_protocollo|length != 0 %}
                        {% set richiesta_protocollo = richieste_protocollo|last %}
                        {% set emails_protocollo = richiesta_protocollo.EmailProtocollo %}
                        {% if  emails_protocollo|length != 0 %}
                            {% set email_protocollo = emails_protocollo|last %}
                            {% set data_consegna_pec = email_protocollo.dataconsegna %}
                        {% endif %}
                    {% endif %}

                    <td>{{data_consegna_pec}}</td>

                    <td>{{ comunicazione.risposta.protocolloRispostaComunicazionePagamento }}</td>
                    {% set data_invio_pa =  comunicazione.risposta.data %}
                    {% set risposte_protocollo = comunicazione.risposta.richiesteprotocollo %}
                    {% if  risposte_protocollo|length != 0 %}
                        {% set risposta_protocollo = risposte_protocollo|last %}
                        {% set emails_risposta_protocollo    = risposta_protocollo.EmailProtocollo %}
                        {% if  emails_risposta_protocollo|length != 0 %}
                            {% set email_risposta_protocollo = emails_risposta_protocollo|last %}
                            {% set data_invio_pa = email_risposta_protocollo.dataconsegna %}
                        {% endif %}
                    {% endif %}
                    <td>{{ data_invio_pa is null ? '-' : data_invio_pa|date('d/m/Y')}}</td>
                    {% if comunicazione.isInAttesaRisposta == true %}
                        <td>Richiesta in attesa di risposta</td>
                    {% else  %}
                        <td>Risposta inviata</td>
                    {% endif %}

                    <td>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Azioni
                                <span class="caret"></span>
                            </button>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="{{ path("dettaglio_comunicazione_pagamento", {'id':comunicazione.id}) }}">Gestisci</a></li>
                            </ul>
                            
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}