{% extends '::base.html.twig' %}

{% block body %}
{% include 'MonitoraggioBundle:Esportazioni:menu.html.twig' with {'page_view' : 'procedura' } %}

{% if form.monitoraggio_configurazione|length > 0 %}
{{ form_start(form) }}
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Procedura</th>
            <th>Errore</th>  
            <th style="min-width: 100px;">PA00</th>
            <th style="min-width: 100px;">PA01</th>
        </tr>
    </thead>
    <tbody>
        {% for configurazioneProcedura in form.monitoraggio_configurazione  %}
        {% form_theme configurazioneProcedura.monitoraggio_configurazione_esportazione_tavole _self %}
            <tr>
            {% set configurazione = configurazioneProcedura.vars['value'] %}
              {% set numeroErrori = configurazione.id in numero_errori|keys  ? numero_errori[configurazione.id] : 0 %}
                <td>
                    {{ configurazione.procedura.id }}
                    &nbsp;-&nbsp;
                    {{ configurazione.procedura }}
                </td>
                <td>
                    {% if numeroErrori > 0 %}
                        <a target="_blank" href="{{ path('monitoraggio_esportazione_mostra_errori',{ configurazione_id: configurazioneProcedura.vars['value'].id }) }}">
                            {% if numeroErrori == 1 %}
                                <span style ="white-space: nowrap;">&Egrave; presente un errore</span>
                            {% else %}
                            <span style ="white-space: nowrap;">Sono presenti {{ numeroErrori }} errori</span>
                            {% endif %}
                        </a>
                    {% else %}
                        Non sono presenti errori
                    {% endif %}    
                </td>
                
                {%- for tavola in configurazioneProcedura.monitoraggio_configurazione_esportazione_tavole %}
                    {{ form_row(tavola) }}
                {% endfor -%}
               
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ form_rest(form) }}
{{form_end(form)}}

{% else %}
<h2>Non vi sono procedure esportabili</h2>
{% endif %}
{% endblock %}

{% block form_row -%}

        {{- not form.vars.compound ? '<td>' : '' -}}
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        {{- not form.vars.compound ? '</td>' : '' -}}
    
{% endblock form_row %}