{% extends '::base.html.twig' %}
{% block body %}
	{% include 'AttuazioneControlloBundle:PA/Richieste:menu.html.twig' with {'attuazione_controllo' : richiesta.attuazioneControllo } %}	

	{% if is_granted('ROLE_REVOCHE') or is_granted('ROLE_SUPER_ADMIN') %}
		<a href="{{ path("crea_revoca",{"id_richiesta":richiesta.id}) }}" class="btn btn-primary"><i class="fa fa-plus"></i>Aggiungi Revoca</a>
	{% endif %}
	<br/>
	{% if revoche|length > 0 %}	
		<h4>Elenco revoche</h4>
			<table class="table table-striped table-hover table-bordered" id="richieste-elenco">
				<thead>
					<tr>
						<th>Atto</th>
						<th>Tipo revoca</th>
						<th>Motivazione</th>
						<th>Importo revocato</th>
						<th>Importo da recuperare</th>
						<th>Recupero</th>
						<th>Ritiro</th>
						<th>Invio nei conti</th>
						<th>Altro</th>
						<th>Azioni</th>
					</tr>
				</thead>	
				<tbody>
		{% for revoca in revoche %}
			<tr>
				<td>{{ (revoca.attorevoca is null) ? '-' : revoca.attorevoca.numero ~': '~ revoca.attorevoca.descrizione }}</td>
				<td>{{ (revoca.attorevoca is null) ? '-' : revoca.attorevoca.tipo.descrizione}}</td>
				<td>{{ (revoca.attorevoca is null) ? '-' : revoca.attorevoca.tipomotivazione.descrizione}}</td>
				<td>{{ revoca.contributorevocato | number_format(2,',', '.')}}</td>
				<td>{{ revoca.contributo | number_format(2,',', '.')}}</td>
				<td>{{ (revoca.ConRecupero == 1) ? 'SI' : 'NO' }}</td>
				<td>{{ (revoca.ConRitiro == 1) ? 'SI' : 'NO' }}</td>
				<td>{{ (revoca.invioConti == 1) ? 'SI' : 'NO' }}</td>
				<td>{{ (revoca.altro is null ? '-' : revoca.altro )}}</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Azioni
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="{{ path("visualizza_revoca",{"id_revoca":revoca.id}) }}" >Visualizza</a></li>
							{% if is_granted('ROLE_REVOCHE') or is_granted('ROLE_SUPER_ADMIN') %}
								{% if revoca.attorevoca is null %}
									<li><a href="{{ path("modifica_revoca",{"id_revoca":revoca.id}) }}" >Modifica</a></li>
								{% endif %}
								{% if revoca.hasInvioContiLavorabileONullo == true %}
									<li><a href="{{ path("cancella_revoca",{"id_revoca":revoca.id}) }}" >Cancella</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h4>Dati revoca</h4>
		Nessun revoca inserita
	{% endif %}
{% endblock %}