{% extends '::base.html.twig' %}

{% block body %}
	<h4>Riepilogo richiesta</h4>
	<table class="table table-striped table-hover table-bordered" id="riepilogo-richiesta">
		<thead>
			<tr>
				<th style="width: 10%">Numero</th>
				<th style="width: 20%">Numero protocollo</th>
				<th style="width: 40%">Titolo</th>
				<th style="width: 30%">Soggetto mandatario</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ richiesta.id }}</td>
				<td>{{ richiesta.protocollo }}</td>
				<td>{{ richiesta.titolo|length > 200 ? richiesta.titolo|slice(0, 201)|split(' ')|slice(0, -1)|join(' ') ~ '…' : richiesta.titolo }}</td>
				<td>{{ richiesta.mandatario.soggettoVersion }}</td>
			</tr>
		</tbody>
	</table>
	
{% if richiesta.assegnamentiIstruttoria|length > 0 %}
	<h4>Storico assegnamenti</h4>
	<table class="table table-striped table-hover table-bordered" id="istruttori-elenco">
		<thead>
			<tr>
				<th style="width: 30%">Data</th>
				<th style="width: 50%">Istruttore</th>
				<th style="width: 20%">Attivo</th>
			</tr>
		</thead>	
		<tbody>
		{% for assegnamento in richiesta.assegnamentiIstruttoria %}
			<tr>
				<td>{{ assegnamento.dataAssegnamento|date('d-m-Y H:i:s') }}</td>
				<td>{{ assegnamento.istruttore }}</td>
				<td>{{ assegnamento.attivo ? "Si" : "No" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>	
{% endif %}	

<h4>Assegnazione istruttoria richiesta</h4>

{{ form_start(form) }}
{{ form_row(form.istruttore) }}
{{ form_end(form) }}

{% endblock %}