{% extends '::base.html.twig' %}

{% block begin_page_level_plugin_style %}
	<link href="{{ asset('assets/css/wizard.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
	
{% block intestazione %}
	{{ parent() }}
	{{ mostra_soggetto_rappresentato() }}
{% endblock %}

{% set richiesta = comunicazione.richiesta %}

{% block body %}
	
    <ul class="nav nav-pills nav-wizard">
		{% for avanzamento, attivo in avanzamenti %}
			<li {% if attivo  %}class="active"{% endif %}>{% if not loop.first %}<div class="nav-wedge"></div>{% endif %}<span>{{avanzamento}}</span>{% if not loop.last %}<div class="nav-arrow"></div>{% endif %}</li>
		{% endfor %}
    </ul>
	<br>
	
	<h6>Dati comunicazione</h6>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover table-bordered">
				<tr>
					<td>Numero protocollo richiesta</td><td>{{ richiesta.protocollo }}</td>
				</tr>
				<tr>
					<td>Data invio comunicazione</td><td>{{ comunicazione.data|date('d/m/Y') }}</td>
				</tr>
				<tr>
					<td>Nota</td><td>{{ comunicazione.testoEmail|replace({'\r\n' : '<br>', '\n' : '<br>'})|raw }}</td>
				</tr>
			</table>
		</div>
	</div>
	<h6>Sezioni risposta </h6>
	<ul class="list-group list-checked">
		{{ mostra_validazione_risposta_comunicazione_istr(comunicazione.risposta, 'nota_risposta_comunicazione', path('nota_risposta_comunicazione_atc', {'id_comunicazione':comunicazione.id}), "Nota risposta") }}
		{{ mostra_validazione_risposta_comunicazione_istr(comunicazione.risposta, 'documenti_richiesta', path('risposta_comunicazione_elenco_documenti_atc', {'id_comunicazione':comunicazione.id}), "Documenti" ) }}
	</ul>

	<div class="page-actions">
		{% for voceMenu in azioni_ammesse %}
			{# schippo la voce attuale della pagina attuale #}
			{% set pathAttuale = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
			{% if voceMenu.path != pathAttuale %}
				<a href="{{ voceMenu.path }}" {{ voceMenu.attr is defined ? (voceMenu.attr |raw) : "" }} class="btn btn-info">{{ voceMenu.label }}</a>
			{% endif %}
		{% endfor %}
	</div>

	<script type="text/javascript" language="javascript">
		$(document).ready(function () {
			$('[data-toggle="popover"]').popover();
		});
	</script>

{% endblock %}