{% extends ':pdf:base.pdf.html.twig' %}

{% block content %}

    {% set richiesta = pagamento.richiesta %}
    {% set procedura = pagamento.procedura %}
    {% block dati_intestazione %}
        {% if procedura.asse.codice == 'A0' %}
            <div class="center">
                <img src="assets/img/regione/logo_ue-regione-emilia-romagna.jpg" alt="Loghi regione" height="60px">
                <h2 align="center">{{procedura.titolo}}</h2>
            </div>
        {% elseif is_fsc == true %}
            <div class="center">
                <img src="assets/img/regione/logo_fsc.jpg" alt="Loghi regione" height="80px">
                <h2 align="center">{{procedura.titolo}}</h2>
                <p class="text-medium">{{ procedura.asse.titolo }} - {{ procedura.asse.descrizione }}</p>
                <p class="text-medium">{{ procedura.azioni|join(';') }}</p>
            </div>
        {% else %}
            <div class="center">
                <img src="assets/img/regione/logo_ue-por_fesr_2020.jpg" alt="Loghi regione" height="90px">
                <h2 align="center">{{procedura.titolo}}</h2>
                <p class="text-medium">{{ procedura.asse.titolo }} - {{ procedura.asse.descrizione }}</p>
                <p class="text-medium">{{ procedura.azioni|join(';') }}</p>
            </div>
        {% endif %}
    {% endblock dati_intestazione %}

    {% block dati_riepilogo %}
        <h4>Riepilogo dati</h4>
        <table width="100%" class="text-small">
            <tr>
                <td width="40%">Numero e data protocollo progetto</td>
                <td width="60%">{{richiesta.protocollo}} {{richiesta.richiesteprotocollo[0].datapg | date("d/m/Y")}}</td>
            </tr>
            <tr>
                <td width="40%">CUP</td>
                <td width="60%">{{ richiesta.istruttoria.codicecup is null ? "-" : richiesta.istruttoria.codicecup }}</td>
            </tr>
            <tr>
                <td width="40%">Ragione Sociale</td>
                <td width="60%">{{ capofila.soggetto.denominazione }}</td>
            </tr>
            <tr>
                {% set legalerappresentante = richiesta.soggetto.lr %}
                <td width="40%">Legale rappresentante</td>
                <td width="60%">
                    {{ legalerappresentante.nome }} {{ legalerappresentante.cognome }} 
                    - Codice fiscale: {{ legalerappresentante.codiceFiscale }}
                </td>
            </tr>
            <tr>
                <td width="40%">Partita IVA</td>
                <td width="60%">{{ capofila.soggetto.partitaIva }}</td>
            </tr>
            <tr>
                <td width="40%">Numero e data protocollo domanda di pagamento</td>
                <td width="60%">{{pagamento.protocollo}} {{pagamento.richiesteprotocollo[0].datapg | date("d/m/Y")}}</td>
            </tr>
        </table>
    {% endblock dati_riepilogo %}

    <h4 align="center">Comunicazione di {{ dati['tipologia_comunicazione']|lower }}</h4>


    {% if dati['testo'] is not null %}
        <div style="margin-bottom: 40px; page-break-inside: avoid;">
            <div>
                {{ dati['testo']|replace({'\r\n' : '<br>', '\n' : '<br>'})|raw }}
            </div>
        </div>
    {% endif %}

    <div>
        <div id="data" style="width:100%; text-align: left;">
            <div style="text-align: center; float:right; width: 200px">
                <strong>{{ "now"|date("d/m/Y") }}</strong><br>
                __________<br>Data
            </div>
        </div>
    </div>

</div>
{% endblock %}