{% extends '::base.html.twig' %}

{% form_theme form ':Form:form_inline_fields.html.twig' %}

{% block begin_page_level_plugin_style %}
	<style>
		.form-group {
			display: inline !important;
		}
	</style>
{% endblock %}

{% block intestazione %}
    {{ parent() }}
    {{ mostra_soggetto_rappresentato() }}
{% endblock %}

{% block body %}

    <p class="lead">Cercare una persona già presente a sistema o inserirne una nuova</p>
<h4>Ricerca Persona</h4>
    <div>
        {{ form_start(form) }}

        {{ form_row(form.codice_fiscale) }}
        {{ form_row(form.submit) }}

        {{ form_end(form) }}
    </div>
    <h4>Persone trovate</h4>
    <a class="btn btn-primary btn-sm" href="{{ path("aggiungi_persona_operatore", {'id_richiesta': id_richiesta, 'id_pagamento': id_pagamento}) }}" role="button">
        Aggiungi persona <span class="fa fa-plus"></span>
    </a>
    <br><br>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Codice fiscale</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        {% for persona in persone %}
            <tr>
                <td>{{ persona.id }}</td>
                <td>{{ persona.nome }}</td>
                <td>{{ persona.cognome }}</td>
                <td>{{ persona.codicefiscale }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path("inserisci_operatore", {'id_richiesta': id_richiesta,'id_pagamento': id_pagamento, 'persona_id':persona.id}) }}" role="button">
                        Seleziona <span class="fa fa-arrow-right"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(persone) }}
    </div>

    <div class="page-actions">
        {{ pulsante_indietro(path("dettaglio_pagamento",{"id_pagamento":id_pagamento})) }}
    </div>

{% endblock %}