{% extends ':pdf:base.pdf.html.twig' %}

{% set richiesta = variazione.attuazioneControlloRichiesta.richiesta %}

{% block content %}

	{% block dati_intestazione %}
        {% if procedura.asse.codice == 'A0' %}
            <div class="center">
                <img src="assets/img/regione/logo_ue-regione-emilia-romagna.jpg" alt="Loghi regione" height="60px">
            </div>
        {% elseif is_fsc == true %}
            <div class="center">
                <img src="assets/img/regione/logo_fsc.jpg" alt="Loghi regione" height="80px">
            </div>
        {% else%}
            <div class="center">
                <img src="assets/img/regione/logo_ue-por_fesr_2020.jpg" alt="Loghi regione" height="60px">

                <h2 align="center">POR-FESR EMILIA ROMAGNA 2014-2020</h2>
            </div>
        {% endif %}
    {% endblock dati_intestazione %}

	{% block dati_bando %}
        <h3 align="center">{{ procedura.asse.titolo }} - {{ procedura.asse.descrizione }}</h3>
        {% for azione in procedura.azioni %}
            <p class="text-medium italic" align="center">Azione {{ azione.codice }} {{ azione.descrizione }}</p>
        {% endfor %}

		<h3 class="bold" align="center">Bando per</h3>
        <h3 class="bold" align="center">{{ procedura.titolo }}</h3>

		<h3 class="bold" align="center">RICHIESTA DI VARIAZIONI DEL PROGETTO</h3>

    {% endblock dati_bando %}

    {% block dati_soggetto %}

		<div style="page-break-after: always"></div>
        <p class="text-small">
            Il/La sottoscritto/a <b>{{ firmatario.nome }} {{ firmatario.cognome }}</b> nato/a {% if firmatario.comune is not null %}a <b>{{ firmatario.comune }}</b>{% else %}in <b>{{ firmatario.statoNascita }}</b> {% endif %} il <b>{{ firmatario.dataNascita | date("d/m/Y") }}</b>
            codice fiscale <b>{{ firmatario.codiceFiscale }}</b>
        </p>
        <p class="text-small">
            In qualità di legale rappresentante/delegato del soggetto
        </p>
        <p class="text-small">
            Denominazione/Ragione sociale <b>{{ capofila.denominazione }}</b> forma giuridica <b>{{ capofila.formaGiuridica.descrizione }}</b> codice fiscale <b>{{ capofila.codiceFiscale }}</b>
            {% if capofila.partitaIva is not null %}
                partita IVA <b>{{ capofila.partitaIva }}</b>
            {% endif %}
        </p>

		<p class="text-small">
            Sede legale
		</p>
		<p class="text-small">
            Via <b>{{ capofila.via }}</b> N. <b>{{ capofila.civico }} </b> 
			{% if capofila.comune is not null %}
				Comune <b>{{ capofila.comune.denominazione }} ({{ capofila.provincia.siglaAutomobilistica }})</b>
			{% endif %}
			{% if capofila.comuneEstero is not null %}
				Città (estera) <b>{{ capofila.comuneEstero }} {% if capofila.provinciaEstera is not null %}({{ capofila.provinciaEstera }},{{capofila.stato}}){% else %}({{capofila.stato}}){% endif %}</b>
			{% endif %}	
			CAP <b>{{ capofila.cap }} </b>
		</p>

    {% endblock dati_soggetto %}

	{% block riferimento_richiesta %}
		<p class="text-small">in relazione alla domanda di contributo con protocollo {{ richiesta.protocollo }} per la quale ha ricevuto comunicazione 
			della avvenuta concessione del contributo</p>
		{% endblock riferimento_richiesta %}

    {% block chiede %}

		<p class="text-medium" align="center"><b>A TAL FINE</b><p>
		<p class="text-small">
			<b>consapevole delle conseguenze, anche penali previste nel medesimo decreto per chi presenta dichiarazioni false o mendaci.</b>
		</p>
		<p class="text-medium" align="center"><b>CHIEDE</b><p>
		<p class="text-small">
			l'autorizzazione alla variazione non ordinaria del Progetto.
		</p>

    {% endblock chiede %}

    {% block comunica %}

		<p class="text-medium" align="center"><b>COMUNICA</b><p>
		<p class="text-small">
			La variazione Non ordinaria del progetto
		</p>
		<p class="text-small">
			{{variazione.note}}
		</p>

    {% endblock comunica %}

	{% block dati_piano_dei_costi %}
		{% if pianoCosti|length > 0 %}
			{% for chiaveAnnualita,anno in annualita %}
				<div style="page-break-after: always"></div>
				<p class="text-medium" align="center"><b>PIANO COSTI ANNO {{anno}}</b><p>
					{% set importo_totale = 0 %}
					{% set importo_totale_variazione = 0 %}
					{% for titoloSezione,vocePianoCosto in pianoCosti[chiaveAnnualita] %}
					<p class="text-small">
						Sezione {{titoloSezione}}
					</p>

					<table width="90%">
						<tr>
							<td width="40%">Voce Costo</td>
							<td width="15%">Importo</td>
							<td width="15%">Importo Variato</td>
							<td width="30%">Nota</td>
						</tr>
						{% for vocePianoCostoSezione in vocePianoCosto %}
							<tr>
								<td>
									{{ vocePianoCostoSezione['TitoloVoceCosto'] }}
								</td>
								<td>
									{{ vocePianoCostoSezione['ImportoVoceCosto']|number_format(2,',', '.') }}
								</td>
								<td>
									{{ vocePianoCostoSezione['ImportoVariazioneVoceCosto']|number_format(2,',', '.') }}
								</td>
								<td>
									{{ vocePianoCostoSezione['NotaVoceCosto'] }}
								</td>
							</tr>
							{% if vocePianoCostoSezione['CodiceVoceCosto'] != 'TOT' %}
								{% set importo_totale =  importo_totale + vocePianoCostoSezione['ImportoVoceCosto'] %}
								{% set importo_totale_variazione = importo_totale_variazione + vocePianoCostoSezione['ImportoVariazioneVoceCosto'] %}
							{% endif %}
						{% endfor %}
					</table>
					<br/>
				{% endfor %}
				<h4 style="margin-bottom: 5px">Complessivo</h4>
	
				<table width="90%">
					<tr>
						<td width="50%"></td>
						<td width="25%">Costo ammesso</td>
						<td width="25%">Variazione</td>
					</tr>
					<tr>
						<td><h5>Totale</h5></td>
						<td>
							{{ importo_totale|number_format(2,',', '.') }}
						</td>
						<td>
							{{ importo_totale_variazione|number_format(2,',', '.') }}
						</td>
					</tr>
				</table>
			{% endfor %}
		{% endif %}

		{% block addizionale_piano_dei_costi %}

		{% endblock addizionale_piano_dei_costi %}
    {% endblock dati_piano_dei_costi %}


{% endblock content %}