{% extends '::base_ente.html.twig' %}

{% block body %}	

	{% if pagamento.isAssistenzaTecnica == true %}
		{% set suffisso = "_at" %}
	{% elseif pagamento.isIngegneriaFinanziaria == true %}
		{% set suffisso = "_ing_fin" %}
	{% elseif pagamento.isAcquisizioni == true %}
		{% set suffisso = "_acquisizioni" %}
	{% endif %}

    <div class="table-toolbar">
        <div>
			{% if not is_aggiungi_disabilitato %}	
					<a class="btn btn-primary" href="{{ path('aggiungi_giustificativo'~suffisso, {'id_pagamento' : pagamento.id }) }}">
						<span class="fa fa-plus"></span> Aggiungi giustificativo
					</a>
			{% endif %}	
        </div>
    </div>
	{% if pagamento.giustificativi |length > 0 %}			
		<table class="table table-striped table-hover table-bordered" id="richieste-elenco">
			<thead>
				<tr>
					<th>Fornitore</th>
					<th>Numero e data giustificativo</th>
					<th>Importo giustificativo</th>
					<th>Importo rendicontato</th>
					<th>Azioni</th>
				</tr>
			</thead>	
			<tbody>
				{% for giustificativo in pagamento.giustificativi %}
					<tr>
						<td>{{ giustificativo.denominazioneFornitore }} - {{ giustificativo.codiceFiscaleFornitore }}</td>
						<td>{{ giustificativo.numeroGiustificativo }} - {{ giustificativo.dataGiustificativo | date('d/m/Y') }}</td>
						<td>&euro; {{ giustificativo.importoGiustificativo|number_format(2, ',', '.') }}</td>
						<td>&euro; {{ giustificativo.importoRichiesto|number_format(2, ',', '.') }}</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Azioni
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a href="{{ path("dettaglio_giustificativo"~suffisso, {"id_giustificativo" : giustificativo.id }) }}">Dettaglio</a></li>	
									<li><a href="{{ path("modifica_giustificativo"~suffisso, {"id_giustificativo" : giustificativo.id }) }}">Modifica</a></li>
									{% if not is_aggiungi_disabilitato and giustificativo.modificabileIntegrazione %}			
										<li><a href="{{ path("elimina_giustificativo"~suffisso, {"id_giustificativo" : giustificativo.id }) }}">Elimina</a></li>		
									{% endif %}	
								</ul>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

{% endblock %}
