{% extends '::base.html.twig' %}

{% block body %}
    <div class="table-toolbar">
        <div class="btn-group">
            <a href="#" id="btn_ricerca_documento" data-target="#ricerca-documento-modal" data-toggle="modal" class="btn btn-info"><i class="fa fa-search"></i> Ricerca</a>
        </div>
    </div>
    <div class="count">
        Numero elementi trovati: {{ documenti.getTotalItemCount }} - Filtro attivo: {{ filtro_attivo ? "Si" : "No" }}
    </div>
    <table class="table table-striped table-hover table-bordered" id="notizie-elenco">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(documenti, 'Id', 'd.id') }}</th>
            {% if app.user is not null and (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_PA')) %}
                <th>Creato da</th>
            {% endif %}
            <th>Data creazione</th>
            <th>Nome</th>
            <th>Tipologia</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        {% for documento in documenti %}
            <tr>
                <td>{{ documento.id }}</td>
                {% if app.user is not null and (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_PA')) %}
                    <td>{{ documento.creatoda }}</td>
               {% endif%}
                <td>{{ documento.datacreazione | date("d/m/Y H:i:s")}}</td>
                <td>{{ documento.nomeoriginale }}</td>
                <td>{{ documento.tipologiaDocumento.descrizione }}</td>
                <td>{{ scarica_file(documento) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(documenti) }}
    </div>

    {{ modale_ricerca("Documenti",form_ricerca,"elenco_documenti_admin_pulisci","ricerca-documento-modal") }}

{% endblock %}

