{% extends '::base.html.twig' %}

{% block body %}

	{% include 'AttuazioneControlloBundle:PA/Richieste:menu.html.twig' with {'attuazione_controllo' : richiesta.attuazioneControllo }%}

	<h4>{{ anno }}</h4>
	{% for sezione in avanzamento %}
		{% if avanzamento|length > 1 %}
			<h4>{{ sezione["sezione"].titoloSezione }}</h4>
		{% endif %}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th style="width: 25%">Voce piano costo</th>
					<th style="text-align: center; width: 15%">Importo ammesso</th>
					<th style="text-align: center; width: 15%">Importo variato</th>
					<th style="text-align: center; width: 15%">% Variazione</th>
					<th style="text-align: center; width: 15%">Importo rendicontato</th>
					<th style="text-align: center; width: 15%">Importo rendicontato ammesso</th>
				</tr>
			</thead>
			<tbody>
				{% for voce in sezione["voci"] %}
					<tr {% if voce["voce"].pianocosto.codice == 'TOT' %}
							style="font-weight: bold;"
						{% endif%}>
						{% set percent_variazione = voce["ammesso"] == 0 ? null : (voce["variato"] - voce["ammesso"])/voce["ammesso"]*100 %}
						<td>{{ voce["voce"].pianocosto.titolo }}</td>
						<td style="text-align: center;">&euro; {{ voce["ammesso"]|number_format(2,',', '.') }}</td>
						<td style="text-align: center;">&euro; {{ voce["variato"]|number_format(2,',', '.') }}</td>
						<td style="text-align: center;{{ percent_variazione == 0 ? '' : (percent_variazione > 0 ? 'color: green;' : 'color:red;')}}">
                        {{ percent_variazione > 0 ? '+' : '' }}{{ percent_variazione is null ? '-' : percent_variazione|round(2, 'common') }} 
						{{ percent_variazione is null ? '' : '%' }}</td>
						<td style="text-align: center;">&euro; {{ voce["rendicontato"]|number_format(2,',', '.') }}</td>
						<td style="text-align: center;">&euro; {{ voce["pagato"]|number_format(2,',', '.') }}</td>
					</tr>
				{% endfor %}		
			</tbody>
		</table>		
	{% endfor %}

	<h4>Dati finanziari</h4>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover table-bordered">
				<tr>
					{% if variazione_presente == false %}
						<td>Importo del sostegno pubblico:</td><td>&euro; {{ richiesta.istruttoria.contributoammesso|number_format(2,',', '.') }}</td>
					{% else %}
						<td>Importo del sostegno pubblico:</td><td>&euro; {{ variazione.contributoammesso|number_format(2,',', '.') }}</td>
					{% endif %}
				</tr>
				<tr>
					{% if richiesta.proponenti.0.soggetto.formaGiuridica is null %}
						<td>-</td>
					{% else %}
						{% if variazione_presente == false %}
							{% if richiesta.proponenti.0.soggetto.formaGiuridica.soggettoPubblico %}
								<td>Importo dei costi ammissibili che costituiscono spesa pubblica</td><td>&euro; {{ richiesta.istruttoria.costoAmmesso|number_format(2,',', '.') }}</td>
							{% else %}
								<td>Importo dei costi ammissibili che costituiscono spesa pubblica</td><td>&euro; {{ richiesta.istruttoria.contributoAmmesso|number_format(2,',', '.') }}</td>
							{% endif %}
						{% else %}
							{% if richiesta.proponenti.0.soggetto.formaGiuridica.soggettoPubblico %}
								<td>Importo dei costi ammissibili che costituiscono spesa pubblica</td><td>&euro; {{ variazione.costoammesso|number_format(2,',', '.') }}</td>
							{% else %}
								<td>Importo dei costi ammissibili che costituiscono spesa pubblica</td><td>&euro; {{ variazione.contributoammesso|number_format(2,',', '.') }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
				</tr>
			</table>
		</div>
	</div>
				
{% endblock %}
