<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
			<tr>
                <td>Id</td><td>{{ utente.id }}</td>
            </tr>
            <tr>
                <td>Username</td><td>{{ utente.username }}</td>
            </tr>
            <tr>
                <td>Email</td><td>{{ utente.email }}</td>
            </tr>
            <tr>
				<td>Ruoli</td><td>{{ utente.ruoli|join(', ') }}</td>
            </tr>
			<tr>
				<td>Creato da</td><td>{{ utente.creatoda }}</td>
            </tr>
			<tr>
				<td>Data creazione</td><td>{{ utente.creatoil|date("d-m-Y") }}</td>
            </tr>
			<tr>
				<td>Stato</td><td>{{ utente.email ? 'Attivo' : 'Cancellato'}}</td>
            </tr>
			<tr>
				<td>Ultima login</td><td>{{ utente.lastlogin|date("d-m-Y h:m:s") }}</td>
            </tr>
			<tr>
				<td>Id persona</td>
				{% if utente.esistepersona %}
					<td>{{ utente.persona.id }}</td>
				{% else %}
					<td>Nessuna persona associata</td>
				{% endif %}	
            </tr>
            
        </table>
    </div>
</div>