<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th colspan="2">Dati Soggetto</th>
            </tr>
            <tr>
                <td>Denominazione</td><td>{{ soggetto.denominazione }}</td>
            </tr>
            <tr>
                <td>Partita iva</td><td>{{ soggetto.partitaIva }}</td>
            </tr>
            <tr>
                <td>Codice fiscale</td><td>{{ soggetto.codiceFiscale }}</td>
            </tr>
            <tr>
                <td>Soggetto pubblico</td><td>{{ soggetto.formaGiuridica is null ? '-' : (soggetto.formaGiuridica.soggettoPubblico == 1 ? 'SI' : 'NO') }}</td>
            </tr>
            {%  block dati_aggiuntivi %}

            {% endblock %}
            <tr>
                <th colspan="2"> Dati Sede Legale</th>
            </tr>
            <tr>
                <td>Indirizzo</td><td>{{ soggetto.via }}</td>
            </tr>
            <tr>
                <td>Numero civico</td><td>{{ soggetto.civico }}</td>
            </tr>
            {% if soggetto.comune is not null %}
                <tr>
                    <td>Provincia</td><td>{{ soggetto.comune.provincia }}</td>
                </tr>
				<tr>
					<td>Comune</td><td>{{ soggetto.comune }}</td>
				</tr>
			{% endif %}
            {% if soggetto.provinciaEstera is not null %}
                <tr>
                    <td>Provincia / Regione (estera)</td><td>{{ soggetto.provinciaEstera }}</td>
                </tr>				
			{% endif %}	
            {% if soggetto.comuneEstero is not null %}
                <tr>
                    <td>Città (estera)</td><td>{{ soggetto.comuneEstero }}</td>
                </tr>				
			{% endif %}				
            <tr>
                <td>Cap</td><td>{{ soggetto.cap }}</td>
            </tr>
			
            <tr>
                <td>Stato</td><td>{{ soggetto.stato }}</td>
            </tr>			
			
            <tr>
                <td>Telefono</td><td>{{ soggetto.tel }}</td>
            </tr>
            <tr>
                <td>Fax</td><td>{{ soggetto.fax }}</td>
            </tr>
            <tr>
                <td>Email</td><td>{{ soggetto.email }}</td>
            </tr>
        </table>



    </div>
</div>