{% extends '::base.html.twig' %}

{% block body %}
	{% include 'AttuazioneControlloBundle:Istruttoria/Variazioni:menu.html.twig' with {'variazione' : variazione } %}	

	<h4>Comunicazione variazione</h4>
	<table class="table table-striped">
		<tbody>
			<tr>
				<td style="width: 50%;"><strong>Data inserimento</strong></td>
				<td>{{ comunicazione_progetto.data | date('d/m/Y') }}</td>
			</tr>
			<tr>
				<td style="width: 50%;"><strong>Protocollo</strong></td>
				<td>{{ comunicazione_progetto.protocollocomunicazione }}</td>
			</tr>
			<tr>
				<td style="width: 50%;"><strong>Data protocollazione</strong></td>
				<td>{{ comunicazione_progetto.DataProtocolloComunicazione ? comunicazione_progetto.DataProtocolloComunicazione | date('d/m/Y') : '-' }}</td>
			</tr>
			<tr>
				<td><strong>Testo email richiesta</strong></td>
				<td>{{ comunicazione_progetto.testoEmail }}</td>
			</tr>
			<tr>
				<td><strong>Documento richiesta</strong></td>
				<td>{{ scarica_file(comunicazione_progetto.documento) }}</td>
			</tr>				
		</tbody>
	</table>
			
	<h4>Documenti allegati alla richiesta</h4>
	<table class="table table-striped table-hover table-bordered" id="richieste-elenco">
		<tbody>
			{% for documento in comunicazione_progetto.documenticomunicazione %}
				<tr>
					<td>{{ mostra_file(documento.documentoFile, null )}}</td>
				</tr>
			{% else %}
				<h6>Nessun documento allegato</h6>
			{% endfor %}
		</tbody>
	</table>
	
	{% if comunicazione_progetto.hasRispostaInviata %}		
		<h4>Risposta comunicazione</h4>
		<table class="table table-striped">
			<tbody>		
				<tr>
					<td style="width: 50%;"><strong>Data invio</strong></td>
					<td>{{ comunicazione_progetto.risposta is null or comunicazione_progetto.risposta.data is null ? "-" : comunicazione_progetto.risposta.data | date('d/m/Y') }}</td>
				</tr>
				<tr>
				<td style="width: 50%;"><strong>Protocollo</strong></td>
					<td>{{ comunicazione_progetto.risposta.ProtocolloRispostaComunicazione }}</td>
				</tr>
				<tr>
					<td style="width: 50%;"><strong>Data protocollazione</strong></td>
					<td>{{ comunicazione_progetto.risposta.dataProtocolloRispostaComunicazione is null ? "-" : comunicazione_progetto.risposta.dataProtocolloRispostaComunicazione|date('d/m/Y') }}</td>
				</tr>
				<tr>
					<td><strong>Nota risposta</strong></td>
					<td>{{ comunicazione_progetto.risposta is null or comunicazione_progetto.risposta.testo is null ? "-" : comunicazione_progetto.risposta.testo|replace({'\r\n' : '<br>', '\n' : '<br>'})|raw }}</td>
				</tr>
				<tr>
					<td><strong>Documento risposta</strong></td>
					<td>{{ mostra_file(comunicazione_progetto.risposta.documentoRispostaFirmato) }}</td>
				</tr>				
			</tbody>
		</table>
				
		<h4>Documenti allegati alla risposta</h4>
		<table class="table table-striped table-hover table-bordered" id="richieste-elenco">
			<tbody>
				{% for documento in comunicazione_progetto.risposta.documenti %}
					<tr>
						<td>{{ mostra_file(documento.documentoFile, null )}}</td>
					</tr>
				{% else %}
					<h6>Nessun documento allegato</h6>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}			
	
{% endblock %}
