{% extends '::base.html.twig' %}

{% block body %}
{% include 'AttuazioneControlloBundle:Istruttoria/Variazioni:menu.html.twig' with {'variazione' : variazione } %}		
	
	<h4>Documento domanda</h4>
    <table class="table table-striped table-hover table-bordered" id="richieste-elenco">
        <tbody>
			<tr>
				<td>
					{# per tenere conto di variazioni importate a manella per le quali manca il documento #}
					{% if variazione.procedura.richiestaFirmaDigitaleStepSuccessivi and variazione.documentoVariazioneFirmato %}
						{{ mostra_file(variazione.documentoVariazioneFirmato, null )}}
					{% elseif not variazione.procedura.richiestaFirmaDigitaleStepSuccessivi and variazione.documentoVariazione %}
						{{ mostra_file(variazione.documentoVariazione, null )}}
					{% else %}
						documento mancante
					{% endif %}
				</td>
			</tr>
        </tbody>
    </table>	
	
	<h4>Documenti allegati variazione</h4>
    <table class="table table-striped table-hover table-bordered" id="richieste-elenco">
        <tbody>
			{% if documenti_variazione|length > 0 %}
				{% for documento in documenti_variazione %}
					<tr>
					<td>{{ mostra_file(documento.documentoFile, null )}}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td>Nessuna allegato presente</td>
				</tr>
			{% endif %}
        </tbody>
    </table>
		
	<h4>Carica documento</h4>

    {{ form(form) }}
	
	<h4>Documenti allegati durante la fase di Istruttoria</h4>
    <table class="table table-striped table-hover table-bordered" id="richieste-elenco">
        <tbody>
			{% if documenti_istruttoria|length > 0 %}
				{% for documento_ist in documenti_istruttoria %}
					<tr>
					<td>{{ mostra_file(documento_ist.documentoFile, path('elimina_documento_istruttoria_variazione', {'id_documento': documento_ist.id,'id_variazione': variazione.id }) ) }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td>Nessuna allegato presente</td>
				</tr>
			{% endif %}
        </tbody>
    </table>
			
{% endblock %}

