{% extends '::base_ente.html.twig' %}

{% block body %}
    {% if esito.esito == false %}
        <div class="alert alert-danger">
            <ul class = "list-unstyled ">
                {% for messaggio in esito.messaggi %}
                <li>{{ messaggio }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
	{% if richiesta is not disabilitata and richiesta.obiettivirealizzativi|length < 6 %}
        <div class="page-actions">
            <a 
                href="{{- 
                    path(
                        constant('RichiesteBundle\\Service\\IGestoreObiettiviRealizzativi::ROUTE_NUOVO_OBIETTIVO'),
                            {id_richiesta:richiesta.id}
                    ) 
                }}" 
                class="btn btn-primary pull-left"><i class="fa fa-plus"></i>Aggiungi obiettivo</a>
        </div>
    {% endif %}
	<br/>
    {% if richiesta.obiettivirealizzativi|length > 0 %}
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Titolo</th>
                    <th>Mese avvio</th>
                    <th>Mese fine</th>
                    <th>Tipologia RI/SS</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for obiettivo in richiesta.obiettivirealizzativi %}
                    <tr>
                        <td>OR{{ obiettivo.codiceor }}</td>
                        <td>{{ obiettivo.titoloor }}</td>
                        <td>{{ obiettivo.meseavvioprevisto }}</td>
                        <td>{{ obiettivo.mesefineprevisto }}</td>
                        <td>
                            {% if obiettivo.percentualeri == 100 %}
                                RI
                            {% elseif obiettivo.percentualess == 100 %}
                                SS
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" 
                                    type="button" 
                                    id="dropdownMenu{{- obiettivo.id -}}" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="true"
                                >
                                    Azioni  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{- obiettivo.id -}}">
                                    <li>
                                        <a href="{{- path(
                                                    constant('RichiesteBundle\\Service\\IGestoreObiettiviRealizzativi::ROUTE_MODIFICA_OBIETTIVO'),
                                                        {id_richiesta:obiettivo.richiesta.id,
                                                        id_obiettivo: obiettivo.id }
                                                ) 
                                            }}" >
                                            {{ richiesta is disabilitata ? 'Visualizza' : 'Modifica' }}
                                        </a>
                                    </li>
                                    {% if richiesta is not disabilitata %}
                                    <li><a href="{{- path(
                                                constant('RichiesteBundle\\Service\\IGestoreObiettiviRealizzativi::ROUTE_ELIMINA_OBIETTIVO'),
                                                    {
                                                        id: obiettivo.id,
                                                        _token: csrfToken
                                                    }
                                            ) 
                                            }}"  data-confirm="Sei sicuro della eliminazione dell'elemento?">
                                        Elimina
                                    </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}