{% extends '::base.html.twig' %}

{% block begin_page_level_plugin_style %}
	<link href="{{ asset('assets/css/dropzone.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block intestazione %}
	{{ parent() }}
	{{ mostra_soggetto_rappresentato() }}
{% endblock %}

{% block body %}
	<h4>Elenco documenti richiesti</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 50%">Tipologia</th>
				<th style="width: 50%">Nota</th>
			</tr>
		</thead>
		<tbody>
			{% for doc in documenti_richiesti %}
			<tr>
				<td>{{ doc.tipologiaDocumento.descrizione }}</td>
				<td>{{ doc.nota|replace({'\r\n' : '<br>', '\n' : '<br>'})|raw }}</td>
			</tr>
			{% endfor %}
		</tbody>	
	</table>

	{% if form is not null %}
		<div class="form-body">
			<h4>Carica documento</h4>
				{{ form(form) }}

			<form action="{{ path("carica_documento_integrazione_istruttoria_dropzone", {"id_integrazione_istruttoria": integrazione.id}) }}"
				  class="dropzone" id="myDrop">
			</form>
	    </div>
	{% endif %}			

	<h4>Elenco documenti caricati</h4>
	{% if documenti is not empty %}
    <div class="form-body">	
		{% for documento in documenti %}
			{% if not is_richiesta_disabilitata and is_granted('ROLE_UTENTE') %}
            	{{ mostra_file(documento.documentoFile, path(route_cancellazione_documento, {'id_documento_integrazione': documento.id,'id_proponente': (proponente is null ? "-" : proponente.id), '_token': csrfToken, mostra_elimina: true}) ) }}
			{% else %}			
            	{{ mostra_file(documento.documentoFile, null )}}
			{% endif %}			
            <br/>
		{% endfor %}
    </div>
	{% else %}
		<h6>Nessun documento caricato</h6>
	{% endif %}
	<div class="page-actions">
		{{ pulsante_indietro(url_indietro) }}
	</div>
{% endblock %}

{% block  jquery_page_document_ready %}
	<script src="{{ asset('assets/scripts/dropzone.min.js') }}"></script>
	<script id="dropzone-custom"
			data-route="{{ path("risposta_integrazione_elenco_documenti_richiesta", { 'id_integrazione_istruttoria' : integrazione.id }) }}"
			data-route-concat="{{ path("concat_chunks_documento_integrazione_istruttoria_dropzone", { 'id_integrazione_istruttoria' : integrazione.id }) }}"
			data-file-info="{{ path("get_informazioni_documento_dropzone", { 'id_documento' : 'id_documento' }) }}"
			src="{{ asset('assets/scripts/dropzone-custom.js') }}">
	</script>
{% endblock %}