{% extends '::base.html.twig' %}

{% set pathDettaglioRichiesta = {
	ASSISTENZA_TECNICA:'dettaglio_richiesta_at',
	INGEGNERIA_FINANZIARIA: 'dettaglio_richiesta_ing_fin',
	PROCEDURA_PA : 'procedura_pa_dettaglio_richiesta',
} %}

{% set pathElencoPagamenti = {
	ASSISTENZA_TECNICA:'elenco_pagamenti_at',
	INGEGNERIA_FINANZIARIA: 'elenco_pagamenti_ing_fin',
	PROCEDURA_PA : 'dettaglio_richiesta_at'
} %}

{% set pathElencoPulisci = {
	ASSISTENZA_TECNICA:'elenco_richieste_pulisci_at',
	INGEGNERIA_FINANZIARIA: 'elenco_richieste_pulisci_ing_fin',
	PROCEDURA_PA : 'procedura_pa_elenco_pulisci'
} %}

{% block body %}
    <div class="table-toolbar">
        <div>
			<a class="btn btn-info" href="#ricerca-infoRichiesta-modal" data-toggle="modal">
				<span class="fa fa-search"></span> Ricerca
			</a>
        </div>
    </div>
    <div class="count">
        Numero elementi trovati: {{ richieste.getTotalItemCount }} - Filtro attivo: {{ filtro_attivo ? "Si" : "No" }}
    </div>
	{% set tipo = form_ricerca_richieste.vars.value.tipo %}
    <table class="table table-striped table-hover table-bordered" id="richieste-elenco">
        <thead>
            <tr>
				<th>Id</th>
                <th>Titolo procedura</th>
				<th>Soggetto</th>
				<th>Stato</th>
				<th>Data Inserimento</th>
				<th>Protocollo</th>
				<th>Azioni</th>
            </tr>
        </thead>
        <tbody>
			{% for richiesta in richieste %}
				<tr>
					<td>{{ richiesta.id }}</td>
                    <td>{{ richiesta.procedura.titolo }}</td>
					<td>{{ richiesta.proponenti.0.soggetto.denominazione|capitalize}}</td>
					<td>{{ richiesta.stato is null ? "-" : richiesta.stato.codice == 'PRE_PROTOCOLLATA' ? "Richiesta completata" : richiesta.stato.descrizione}}</td>
					<td>{{ richiesta.dataInvio is null ? "-" : richiesta.dataInvio | date("d/m/Y H:i:s")}}</td>
					<td>{{ richiesta.protocollo }}</td>
					<td>
						{% set vociMenu = voci_menu_presenzazione(richiesta.id) %}
						{% if vociMenu | length > 0 %}
						<div class="dropdown">
							<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Azioni
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

								{% for voceMenu in vociMenu %}
									    <li>
											<a href="{{ voceMenu.path }}" {{ voceMenu.attr is defined ? (voceMenu.attr |raw) : "" }}>
												{{ voceMenu.label }}
											</a>
										</li>
                                {% endfor %}
							</ul>
						</div>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(richieste) }}
    </div>
	{{ modale_ricerca("Richieste",form_ricerca_richieste,attribute( pathElencoPulisci, tipo),"ricerca-infoRichiesta-modal") }}
{% endblock %}
