{% extends ':pdf:base.pdf.html.twig' %}

{% block content %}

    {% block dati_intestazione %}
        <div class="center">
            {% if comunicazione_risposta.richiesta.procedura.isNuovaProgrammazione %}
                <img src="assets/img/regione/Loghi_CoesioneITA_UE_REP_ER_21_27.jpg" alt="Loghi regione" height="45px">
            {% elseif comunicazione_risposta.richiesta.procedura.asse.codice == 'A0' %}
                <img src="assets/img/regione/logo_ue-regione-emilia-romagna.jpg" alt="Loghi regione" height="60px">
                <h2 align="center">{{ comunicazione_risposta.richiesta.procedura.titolo }}</h2>
            {% elseif is_fsc == true %}
                <img src="assets/img/regione/logo_fsc.jpg" alt="Loghi regione" height="80px">
                <h2 align="center">{{ comunicazione_risposta.richiesta.procedura.titolo }}</h2>
            {% else%}
                <img src="assets/img/regione/logo_ue-por_fesr_2020.jpg" alt="Loghi regione" height="60px">
                <h2 align="center">POR-FESR EMILIA ROMAGNA 2014-2020</h2>
            {% endif %}
        </div>
    {% endblock dati_intestazione %}

    <h3 align="center">Risposta esito comunicazione</h3>
    <div>
        In riferimento alla vostra comunicazione {{ comunicazione_risposta.comunicazione.protocolloesitoistruttoria }}<br>
        si specifica quanto segue:
    </div>

    <br>

    <div>
        <strong>Nota del beneficiario:</strong> 
        <br>
        {{ comunicazione_risposta.testo ? comunicazione_risposta.testo|replace({'\r\n' : '<br>', '\n' : '<br>'})|raw : '-' }}
    </div>	

    {#% if comunicazione_risposta.documenti|length > 0 %}
            
            <br><br>
            
            <strong>Documentazione risposta comunicazione</strong>
            <ul>
                    
                    {% for documento in comunicazione_risposta.documenti %}
                            <li>{{ documento.documentoFile.tipologiaDocumento.descrizione }}</li>
                    {% endfor %}	
            
            </ul>
    
    {% endif %#}

{% endblock %}