{% extends '::base.html.twig' %}
{% block begin_page_level_plugin_style %}
	<style>
		#appendice td:nth-child(3), #appendice td:nth-child(4) {
			text-align: right;
		}
	</style>
{% endblock %}
{% block body %}
	{% include 'CertificazioniBundle:Appendici:menuAppendici.html.twig' with {'id_chiusura' : chiusura.id } %}	

	<h4>APPENDICE 4: Recuperi effettuati a norma dell’articolo 71 del Reg. (UE) 1303/2013 durante il periodo contabile 
		– articolo 137, per. 1, lett b) del regolamento (UE) 1303/2013.
	</h4>

	<table class="table table-striped table-hover table-bordered" id="appendice">
		<thead>
			<tr>
				<th>Asse prioritario</th>
				<th>Categoria di regioni</th>				
				<th>Importo totale ammissibile di spesa</th>					
				<th>Spesa pubblica corrispondente</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Più sviluppate</td>
				<td>{{importi_asse['A1']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['A1']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Più sviluppate</td>
				<td>{{importi_asse['A2']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['A2']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Più sviluppate</td>
				<td>{{importi_asse['A3']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['A3']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Più sviluppate</td>
				<td>{{importi_asse['A4']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['A4']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Più sviluppate</td>
				<td>{{importi_asse['A5']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['A5']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td>6</td>
				<td>Più sviluppate</td>
				<td>{{importi_asse['A6']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['A6']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Più sviluppate</td>
				<td>{{importi_asse['A7']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['A7']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td style="font-weight: bold">Totale</td>
				<td style="font-weight: bold">Più sviluppate</td>
				<td style="font-weight: bold">{{importi_asse['TOTALE']|number_format(2, ',', '.')}}</td>
				<td style="font-weight: bold">{{importi_asse['TOTALE']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td style="font-weight: bold" colspan="5">Importi ritirati e recuperati durante il periodo contabile suddivisi per periodo contabile di dichiarazione delle spese corrispondenti</td>
			</tr>
			<tr>
				<td style="font-weight: bold" colspan="2">{{chiusura.maxAnnoContabile}}</td>
				<td style="text-align: right">{{importi_asse['TOTALEDICUI']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['TOTALEDICUI']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td colspan="2">di cui importi rettificati in seguito ad audit relativi alle operazioni 
					effettuati a norma dell'articolo 127, paragrafo 1, del regolamento (UE) n. 1303/2013
				</td>
				<td style="text-align: right">{{importi_asse['TOTALEDICUI']|number_format(2, ',', '.')}}</td>
				<td>{{importi_asse['TOTALEDICUI']|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td style="font-weight: bold" colspan="2">per il periodo contabile che si chiude il 30 giugno</td>
				<td style="text-align: right">{{0|number_format(2, ',', '.')}}</td>
				<td>{{0|number_format(2, ',', '.')}}</td>
			</tr>
			<tr>
				<td colspan="2">di cui importi rettificati in seguito ad audit relativi alle operazioni 
					effettuati a norma dell'articolo 127, paragrafo 1, del regolamento (UE) n. 1303/2013
				</td>
				<td style="text-align: right">{{0|number_format(2, ',', '.')}}</td>
				<td>{{0|number_format(2, ',', '.')}}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path("elenco_certificazioni")}}" class="btn btn-default btn-page-action btn-form-back pull-left">Indietro</a>	
{% endblock %}
