{% extends '::base.html.twig' %}

{% block body %}
	{% include 'AuditBundle:Audit:menu.html.twig' %}

	{{ form_start(form) }}

	<table class="table table-striped table-hover table-bordered" id="richieste-elenco">
		<thead>
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Associa</th>
				<th>Test conformità</th>
			</tr>
		</thead>
		<tbody>
			{% for form_requisito in form.audit_requisiti_estesi.children %}
				{% set audit_pianificazione_requisito = form_requisito.vars.value %}
				{% set requisito = audit_pianificazione_requisito.requisito %}
				<tr>
					<td>{{ requisito.codice }}</td>
					<td>{{ requisito.denominazione }}</td>
					<td style="text-align: center;" class="selezionato">{{ form_widget(form_requisito.selezionato) }}</td>
					<td style="text-align: center;">
						{% if audit_pianificazione_requisito.id is not null %}
							<a class="btn btn-primary btn-sm" href="{{ path("associa_operazioni_requisito", {'id_pianificazione_requisito': audit_pianificazione_requisito.id}) }}" role="button">
								{{ audit_pianificazione_requisito.campioni|length > 0 ? "Visualizza" : "Crea" }}</span>
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{{ form_end(form) }}

{% endblock %}