{% extends '::base_ente.html.twig' %}
{% block body %}
{% form_theme form.voci _self %}
{{ form_errors(form)}}
<div style="display:none;" id="alert-totale" class="alert alert-warning" role="alert">
    Il totale delle voci inserito (<span id="nuovo-totale"></span>)
    è diverso del totale delle voci precendenti ({{- totaleGiustificativo|number_format(2, ',', '.') -}})
</div>
{{ form_start(form)}}
<table class="table table-striped table-hover table-bordered"
        data-prototype="{{- form_row(form.voci.vars.prototype)|e -}}"
        data-elementi="{{- form.voci|length -}}"
        data-totale-precedente="{{- totaleGiustificativo -}}"
        id="tabella-form">
    <thead>
        <tr>
            <th>Voce</th>
            <th>Importo</th>
            <th>Anno</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for voce in form.voci %}
            {{ form_row(voce) }}
        {% endfor %}
    </tbody>
</table>
<div>
    <a onclick="aggiungiElemento(this);" class="btn btn-page-action btn-primary">Aggiungi</a>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock body %}

{% block form_row -%}

    {{- not form.vars.compound ? '<td>' : '' -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
    {{- not form.vars.compound ? '</td>' : '' -}}

{% endblock form_row %}

{% block form_widget_compound %}
    {% if form.vars.prototype is not defined %}
        <tr "{{- block('widget_container_attributes') -}}">
            {{- block('form_rows') -}}
            <td>
                <a class="btn btn-primary" onclick="eliminaElemento(this);">Elimina</a>
            </td>
        </tr>
    {% endif %}
{% endblock %}


{% block jquery_page_document_ready %}
<script type="text/javascript">
    'use strict';
    
    function getTotaleAttuale(){
        var valoriVoci = $('table#tabella-form>tbody>tr>td:nth-of-type(2) input')
            .map(function(){
                var value = $(this).val();
                value = value ? parseFloat(value.deformatMoney()) : 0.0;

                return value;
            })
            .toArray();
        var totaleAttuale = valoriVoci.reduce(function(carry, value){
            return carry + value;
        }, 0.0);

        return totaleAttuale;
    }

    function getTotalePrecedente(){
        var tot = $('table#tabella-form').attr('data-totale-precedente');

        return parseFloat(tot ? tot : 0.0);
    }

    function alertTotale(){
        var totaleAttuale = getTotaleAttuale();    
        var totalePrecedente = getTotalePrecedente();

        var totaleValido = Math.abs(totaleAttuale - totalePrecedente) < 0.01

        var display = totaleValido ? 'none' :  'block';

        $('span#nuovo-totale').text(totaleAttuale.formatMoney());
        $('div#alert-totale').css("display", display);
        $('[type="submit"]').attr('disabled', !totaleValido);
    }

    function aggiungiElemento(event){
        var tabella = $(event)
            .parent()
            .prev('table');

        var numeroElementi = tabella.attr('data-elementi');
        var target = event.target;
        var nuovoElementoHTML = 
            $(tabella)
            .attr('data-prototype')
            .replace(/__name__/g, numeroElementi++);

        var nuovoElemento = $(nuovoElementoHTML);
        tabella.find('tbody')
            .append(nuovoElemento);

        tabella.attr('data-elementi', numeroElementi);
        $('table > tbody > tr > td select').select2();
    }

    function eliminaElemento( e ){
        $(e).parent().parent().remove().trigger('change');
		alertTotale();
    }


    $(document).ready(function(){
        $("form table#tabella-form").on('change', 'tbody>tr>td:nth-of-type(2) input', function(){
				$(this).formatAmount();
				alertTotale();
            });
        $("form table#tabella-form>tbody>tr>td:nth-of-type(2) input").trigger('change');
        
    });

    

    
</script>
{% endblock %}