{% extends '::base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="fa fa-reorder"></span>Modificare i dati
                    </div>
                </div>
                <div class="portlet-body">
					<div class="form-body">
						{{ form_start(form) }}
						<div>
							{{ form_row(form.titolo) }}
							{{ form_row(form.alias) }}
							{{ form_row(form.maxMolteplicita) }}
							{{ form_row(form.minMolteplicita) }}
							{{ form_row(form.callback) }}
							{{ form_row(form.callbackPresenza) }}
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
				
		{% set pagina = form.vars.value %}
		<div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="fa fa-reorder"></span>Frammenti Pagina
                    </div>
                </div>
				<div class="portlet-body">
					<div class="form-body">
						<div>
							<div class="table-toolbar">
								<div class="btn-group">
									<a href="{{ path('crea_frammento', {'id_pagina':id_pagina}) }}"><button id="sample_editable_1_new" class="btn green"><span class="fa fa-plus"></span></button>
									</a>
								</div>
							</div>
							{% if pagina.frammenti|length > 0 %}
							<table class="table table-striped table-hover table-bordered" id="frammenti-pagina-elenco">
								<thead>
									<tr>
										<th>Titolo</th>
										<th>Alias</th>
										<th>Template</th>										
										<th>Azioni</th>
									</tr>
								</thead>
								<tbody>
									{% for frammento in pagina.frammenti %}
										<tr>
											<td>{{ frammento.titolo }}</td>
											<td>{{ frammento.alias }}</td>
											<td>{{ frammento.tipoFrammento.nome }}</td>											
											<td><div class="dropdown">
													<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuFrammentiPagina" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														Azioni
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu" aria-labelledby="dropdownMenuFrammentiPagina">
														<li><a href="{{ path('modifica_frammento', {'id_frammento':frammento.id}) }}">Modifica</a></li>
														<li><a href="{{ path('elimina_frammento', {'id_frammento':frammento.id, '_token': csrfToken }) }}">Elimina</a></li>
														<li><a href="{{ path('sposta_sopra_frammento', {'id_frammento':frammento.id}) }}">Sposta Sopra</a></li>
														<li><a href="{{ path('sposta_sotto_frammento', {'id_frammento':frammento.id}) }}">Sposta Sotto</a></li>
													</ul>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

